*{margin: 0;padding: 0;}
/* img宽高 */

/* 导航 */
.b_1{
  display: flex;
  justify-content: space-around;
  line-height: 55px;;
}
.f_1{
  height: 55px;
  background: #000;
}
/* 字体颜色 */
.c_1{
  color: #fff;
}
.c_1:hover{
  color: #cc7755;
  text-decoration: none;
}
/*中部图片*/

/* 左 */
.left_main {
float: left;
  overflow: hidden;
  width: calc(55.8% - 10px);
  position: relative;
}  
.leftTop{ 

width: 100%;
position: relative;
margin-bottom:10px; 
}
.leftBottom{
  width: 100%;
  position: relative;
} 
.img_1{
display: block;
width: 100%;
height: 400px;
}
.img_2{
display: block;
width: 100%;
}
/* 右 */
.right{
  width: 44.2%;
  float: right;
  position: relative;
}
/* 图片中托盘文字 */
.w_1{
  position: absolute;
  left: 110px;bottom: 0px;
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.w_1_right{
  position: absolute;
  left: 110px;bottom: 350px;
  text-align: center;
  color: #fff;
  font-size: 30px;

}